logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.js
!.autod.conf.js
!app.js
app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
*.d.ts
app/**/*.d.ts
test/**/*.d.ts
config/**/*.d.ts
typings/
config/config.local.ts
app/public/uploads/
.workbuddy/
*.docx
.env*
!.env.example
