logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.js
!.autod.conf.js
!app.js

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map

# tsc 编译产物（类型声明）
*.d.ts
app/**/*.d.ts
test/**/*.d.ts
config/**/*.d.ts

# egg-ts-helper 自动生成的类型声明
typings/
